.mainbox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.testcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}