.question{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #eeeeee;
    color: var(--text-primary);
    padding: 40px 70px;
}

.question,
.question p,
.option span:nth-child(2){
    border-radius: 5px;
}
.question p{
    background-color: white;
    color: var(--text-primary);
    padding: 20px 30px;
}
.question p,
.option span{
    font-size: 0.9rem;
}
.option{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    font-weight: 500;
    margin-top: 5px;
}
.option span{
    padding: 10px 20px;
}
.selected,
.option span:nth-child(2):hover{
    background-color: rgb(110, 191, 253) !important;
}
.option span:nth-child(2){
    width: 100%;
    background-color: white;
    transition: all 0.5s ease;
}
.option span:nth-child(2):hover{
    cursor: pointer;
}